<div class="desktop">
      <div class="container pl-0">
        <div class="row">
            <div class="col-12">
                <h6 class="@HeaderClassName">@HeaderText</h6>
                <hr>
            </div>
            <div class="col-12">
                <small class="@InfoClassName">@InfoText</small>
            </div>
        </div>
    </div>
</div>

<div class="mobile">
    <div class="container pl-0">
        <div class="row">
            <div class="col-12 @HeaderClassName">@HeaderText</div>
            <div class="col-11 offset-1 ml-3 mt-1 mb-1 mobile_header_divider"></div>
            <div class="col-12 @InfoClassName">@InfoText</div>
        </div>
    </div>
</div>

@code{
    [Parameter]
    public string HeaderText { get; set; }
    [Parameter]
    public string HeaderClassName { get; set; } = "bold";
    [Parameter]
    public string InfoText { get; set; }
    [Parameter]
    public string InfoClassName { get; set; } = "bold";
}